[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=xiao
Group=www-data
WorkingDirectory=/home/xiao/indv_project/backend/dailypic/
ExecStart=/home/xiao/indv_project/backend/dailypicenv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          dailypic.wsgi:application

[Install]
WantedBy=multi-user.target
